.header__container {
  box-sizing: border-box;
  min-width: 320px;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .header__container {
    padding: 10px 30px;
  }
}