.header__overlay {
  height: 100%;
  width: 100%;
  background: none;
}

@media screen and (max-width: 900px) {
  .header__overlay {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
  }
}


