.footer__booking {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  max-width: 200px;
  transition: all .3s linear;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 10px;
}

@media screen and (max-width: 900px) {
  .footer__booking {
    margin: 15px 0;
  }
}