.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 30px;
  margin: auto 0 0;
}

@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}