.popup__auth-container {
  padding: 60px;
  width: 430px;
  max-width: 90%;
  box-sizing: border-box;
  align-items: center;
  gap: 32px;
}

@media screen and (max-width: 460px) {
  .popup__auth-container {
    width: 280px;
    height: 308px;
    padding: 50px 0;
  }
}