.card {
  border: 1px solid white;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 10%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  max-height: 400px;
  color: black;
  gap: 10px;
}

.card__title {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.card__image {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  margin-top: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__cart-button {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: #fff;
}

.card__total {
  display: flex;
  flex-direction: row;
}

.card__price {
  font-weight: 700;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.card__weight {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}