@import url(../vendor/normalize.css);
@import url(../vendor/InterWeb/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/_active/page_active.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__mobile/header__mobile.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu/themes/header__menu_selected.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav/themes/header__nav_selected.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/content/content.css);
@import url(../blocks/index/index.css);
@import url(../blocks/index/__text/index__text.css);
@import url(../blocks/index/__title/index__title.css);
@import url(../blocks/index/__description/index__description.css);
@import url(../blocks/index/__video/index__video.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__numbers/footer__numbers.css);
@import url(../blocks/footer/__number/footer__number.css);
@import url(../blocks/footer/__booking/footer__booking.css);

.menu {
  margin: 100px auto 0;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  position: relative;
  background: rgb(248, 248, 248);
  color: black;
}

.menu__head {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.menu__title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 25px 0;
}

.menu__button {
  background-image: url(../images/arrow-down.png);
  background-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  width: 18px;
  height: 18px;
  background-position: center;
  margin: 0;
  padding: 0;
  border: none;
}

.menu__items {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  gap: 15px;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .menu__items {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }
}

.menu__item {
  border: 1px solid red;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 10%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.menu__item_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__item_title {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.menu__item_total {
  display: flex;
  flex-direction: row;
}

.menu__item_price {
  font-weight: 700;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.menu__item_weight {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.menu__item_description {
  color: #b2b2b2;
  font-size: 13px;
  padding: 10px 0;
  margin: 0;
}

.menu__item_image {
  width: 100%;
  max-height: 220px;
  margin: 0;
  padding: 0;
  margin-top: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}
