.popup__container {
  position: relative;
  max-width: 360px;
  min-height: 260px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 35px 36px;
  color: #000;
}

@media screen and (max-width: 460px) {
  .popup__container {
    max-width: 238px;
    min-height: 272px;
    padding: 25px 22px;
    align-self: flex-start;
    margin-top: 122px;
  }
}