.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 37px;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
}

.popup__input:focus {
  outline-style: none;
}