.menu__items {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  gap: 15px;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .menu__items {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }
}

.menu__item {
  border: 1px solid white;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 10%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 400px;
  color: black;
  gap: 10px;
}

.menu__item_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu__item_title {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.menu__item_total {
  display: flex;
  flex-direction: row;
}

.menu__item_price {
  font-weight: 700;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.menu__item_weight {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.menu__item_image {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  margin-top: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

.menu__cart-button {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}